.about-me {
  display: flex;
  flex-direction: row;
  margin-top: 50px;
  justify-content: space-between;
}

.container-pic {
  height: 100%;
  width: 1000px;
  padding: 5px 5px;
}

.profile-pic {
  height: 760px;
  width: 600px;
  border-radius: 10px;
  float: right;
}

.intro {
  width: 600px;
  margin-right: 400px;
  padding-left: 20px;
  padding-top: 90px;
}

.intro-center {
  text-align: center;
}

.intro-left {
  padding-top: 20px;
  font-size: 20px;
}

.logo-container {
  margin-top: 70px;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr;
}

.logo {
  width: 40px;
  margin-top: 10px;
  vertical-align: middle;
  padding-right: 18px;
  padding-bottom: 10px;
  cursor: pointer;
}
