.my {
  color: rgb(214, 72, 72);
}

.logo {
  font-size: 30px;
  font-weight: 700;
  cursor: pointer;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 8%;
  padding-right: 8%;
}

nav ul li {
  list-style-type: none;
  display: inline-block;
  padding: 10px 15px;
}

a {
  color: white;
  font-size: 15px;
  text-decoration: none;
  font-weight: bold;
  text-transform: uppercase;
}

nav ul li a:hover {
  color: rgb(214, 72, 72);
  transition: 0.5s;
}
